<html lang="de" dir="ltr">
<head>
  <title>Navigation bar</title>
</head>
<body>
<div class="html-container">
  <div class="navigation">
    <nav>
      <ul class="nav-type">
        <li><a (click)="employeeClick()" class="active">Employee</a></li>
        <li><a (click)="qualClick()" class="active1">Qualifications</a></li>
      </ul>
    </nav>
  </div>
</div>
</body>
<div id="displayEmployee" *ngIf="displayEmp">
  <app-list></app-list>
</div>
<div id="displayQuali" *ngIf="displayQual">
  <app-list></app-list>
</div>

</html>
