<h2>Add Employee</h2>
<table class="table table-sm table-borderless w-auto">
  <tbody>
  <tr>
    <th scope="row">Firstname: </th>
    <td><input></td>
  </tr>
  <tr>
    <th scope="row">Lastname: </th>
    <td><input></td>
  </tr>
  <tr>
    <th scope="row">Street: </th>
    <td><input></td>
  </tr>
  <tr>
    <th scope="row">Postcode: </th>
    <td><input></td>
  </tr>
  <tr>
    <th scope="row">City: </th>
    <td><input></td>
  </tr>
  <tr>
    <th scope="row">Phone: </th>
    <td><input></td>
  </tr>
  <tr>
    <th></th>
    <td>
      <button type="button" class="btn btn-light" (click)="add()">Add</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </td>
  </tr>
  </tbody>
</table>
