<body>
<div class="container-fluid">
  <h2>Employee Qualifications</h2>
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-light" (click)="backClick()">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <button type="button" class="btn btn-light" (click)="AddClick()">Add</button>
      <button type="button" class="btn btn-light" (click)="deleteClick()">Delete</button>
    </div>
  </div>
</div>
</body>
