<body>
<div class="container-fluid">
  <h2>Employee Qualifications</h2>
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-light" (click)="goBack()">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col-10"></div>
    <div *ngIf="employee" class="col-2">
      <button type="button" class="btn btn-light" mat-button (click)="addQualificationToEmployee()" routerLink="/employees/{{employee.id}}/qualifications/add">Add Qualification</button> <!-- routerLink="/employees/:id/qualifications/add" -->
      <button type="button" class="btn btn-danger" (click)="deleteQualification()">Delete</button>
    </div>
  </div>
</div>
</body>
