<ng-container *ngIf="employee" [ngSwitch]="display">
  <div *ngSwitchCase="'view'">
    <h2>Employee Details</h2>
    <table class="table table-sm table-borderless w-auto">
      <tbody>
      <tr>
        <th scope="row">Firstname: </th>
        <td>{{employee.firstName}}</td>
      </tr>
      <tr>
        <th scope="row">Lastname: </th>
        <td>{{employee.lastName}}</td>
      </tr>
      <tr>
        <th scope="row">Street: </th>
        <td>{{employee.street}}</td>
      </tr>
      <tr>
        <th scope="row">Postcode: </th>
        <td>{{employee.postcode}}</td>
      </tr>
      <tr>
        <th scope="row">City: </th>
        <td>{{employee.city}}</td>
      </tr>
      <tr>
        <th scope="row">Phone: </th>
        <td>{{employee.phone}}</td>
      </tr>
      <tr>
        <th></th>
        <td>
          <button type="button" class="btn btn-light" routerLink="/employees/{{employee.id}}/qualifications">Show Qualifications</button>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <button type="button" class="btn btn-light" (click)="display = 'edit'">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteEmployee()">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngSwitchCase="'edit'">
    <h2>Employee Details</h2>
    <form [formGroup]="checkoutForm" (ngSubmit)="saveEdit()">
    <table class="table table-sm table-borderless w-auto">
      <tbody>
      <tr>
        <th scope="row">
          <label for="employee-firstName">Firstname: </label>
        </th>
        <td>
          <input id="employee-firstname" type="text" formControlName="firstname" value="{{employee.firstName}}">
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="employee-lastName">Lastname: </label>
        </th>
        <td>
          <input id="employee-lastName" type="text" formControlName="lastname" value="{{employee.lastName}}">
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="employee-street">Street: </label>
        </th>
        <td>
          <input id="employee-street" type="text" formControlName="street" value="{{employee.street}}">
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="employee-postcode">Postcode: </label>
        </th>
        <td>
          <input id="employee-postcode" type="text" formControlName="postcode" value="{{employee.postcode}}">
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="employee-city">City: </label>
        </th>
        <td>
          <input id="employee-city" type="text" formControlName="city" value="{{employee.city}}">
        </td>
      </tr>
      <tr>
        <th scope="row">
          <label for="employee-phone">Phone: </label>
        </th>
        <td>
          <input id="employee-phone" type="text" formControlName="phone" value="{{employee.phone}}">
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <button class="btn btn-light" type="submit">Save</button>
          <button type="button" class="btn btn-light" (click)="display = 'view'">Cancel</button>
        </td>
      </tr>
      </tbody>
    </table>
    </form>
  </div>
</ng-container>
