<body>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>List of Employees</h2>

    <table class="table table-sm table-bordered table-striped table-hover w-auto">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Lastname</th>
        <th scope="col">Firstname</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees" routerLink="/employees/{{employee.id}}">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.lastName}}</td>
        <td>{{employee.firstName}}</td>
      </tr>
      </tbody>
    </table>
      <button type="button" class="btn btn-light" mat-button (click)="addEmployee()" routerLink="/employees/add">Add Employee</button>
    </div>

    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</body>
